/* Carousel css */
.carousel{
    position: relative;
    width: 100%;
    height: 75vh;
}

.slides{
    display: none;
    width: 100%;
    height: 100%;
}

.slides img{
    width: 100%;
    height: 100%;
}

.prevslide,.nextslide{
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextslide{
    right: 0%;
    border-radius: 3px 0 0 3px;
}

.slideText{
    display: none;
}

.slidedot{
    position: absolute;
    bottom: 10px;
    display: inline;
    margin-left: 50%;
}

.dot{
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #bbb;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}



/* Events section styling */
.events-section{
    width: 100%;
    margin: 10vh auto 10vh auto
}

.section-title{
    font-family: pacifico;
    font-size: 1.8em;
    text-align: center;
    width: 50%;
    margin: auto;
}

.section-title p{
    font-size: 0.6em;
    font-family: roboto;
    margin-bottom: 30px;
}

.section-title hr{
    width: 75%;
    margin: 5px auto 5px auto;
}

.card-view{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    width: 80%;
    margin: auto;
}

.card{
    margin: 0 auto 20px auto;
    width: 80%;
    min-height: 480px;
    background-color: #181924;
    color: white;
    font-family: roboto;
    border-radius: 25px;
}

.card img{
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.card h2{
    text-align: center;
}

.card p{
    text-overflow: clip;
    margin: 15px 10px 0px 10px;
}

/* discover section styling */
.container-view{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 90%;
    margin: auto;
}

.container{
    width: 90%;
    margin: 10px auto 10px auto;
    border: 1px solid gainsboro;
}

.container img{
    width: 100%;
    object-fit: cover;
}

.container h2{
    padding: 0 10px 0 10px;
    font-family: roboto;
}

.container p{
    font-family: roboto;
    font-size: 1.1em;
    padding: 10px;
}


/* promotion section styling */
.promotion-section{
    margin: 10vh auto 10vh auto
}

.box-view{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    width: 80%;
    margin: auto;
}

.box{
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
}

.box img{
    width: 250px;
    object-fit: cover;
}