/* Author: Bong Hung Jiat */

/* Service page description styling */
.services-section{
    width: 100%;
}

.divider{
    max-width: 1500px;
    width: 90%;
    display: flex;
    margin: 1% auto 1% auto;
    justify-content: center;
}

.divider p{
    margin: auto;
    font-size: 1.2em;
    font-family: poppins;
}

.divider div{
    border: 0.5px solid black;
    height: 1px;
    width: 80%;
    margin: auto 0 auto 0;
}


.service{
    min-width: 1000px;
    max-width: 1500px;
    display: flex;
    margin: auto;
}

.service img{
    max-width: 30%;
    object-fit: cover;
    margin: auto;
}


.service div{
    width: 60%;
}

.service p{
    font-size: 1.1em;
    font-family: roboto;
}

/* list of services grid styling */

.service-list-box{
    width: 100%;
    margin-top: 10%;
}

.service-title{
    text-align: center;
    font-family: Merriweather sans;
    letter-spacing: 3pt;
    font-size: 2em;
}

.service-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    width: 85%;
    margin: auto;
    
}

.list-content{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    max-width: 300px;
    height: 450px;
    border: 1px solid orchid;
    margin: 5% auto 5% auto;
    padding-top: 20px;
}

.list-content img{
    width: 30%;
    min-height: 80px;
    object-fit: cover;

}

.list-content h2{
    text-align: center;
    font-family: roboto;
}

.list-content p{
    font-family: roboto;
    padding: 5% 5% 0 5%;
}

/* located at box */
.location{
    position: absolute;
    width: 90%;
    bottom: 3%;
}

.location p{
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.location div{
    background-color: orchid;
    color: white;
    font-family: roboto;
    text-align: center;
    padding: 10px;

}

/* transport card styling */
.transport{
    max-width: 1500px;
    width: 100%;
    display: flex;
    margin: 0 auto 0 auto;
}

.card{
    width: 25%;
    height: 500px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

