/* Carousel css */
.carousel{
    position: relative;
    width: 100%;
    height: 75vh;
}

.slides{
    display: none;
    width: 100%;
    height: 100%;
}

.slides img{
    width: 100%;
    height: 100%;
}

.prevslide,.nextslide{
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextslide{
    right: 0%;
    border-radius: 3px 0 0 3px;
}

.slideText{
    display: none;
}

.slidedot{
    position: absolute;
    bottom: 10px;
    display: inline;
    margin-left: 50%;
}

.dot{
    position: relative;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #bbb;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}



/* Events section styling */
.events-section{
    width: 100%;
}

.event-title{
    font-family: pacifico;
}

.event-title span{
    font-family: roboto;
}

.card-view{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
}

.card{
    margin: auto;
    width: 65%;
    min-height: 480px;
    background-color: #181924;
    color: white;
    font-family: roboto;
}

.card img{
    width: 100%;
    object-fit: cover;
}

.card h2{
    text-align: center;
}

.card p{
    text-overflow: clip;
    margin: 15px 5px 0px 5px;
}