.services-section{
    width: 100%;
}

.service{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.service img{
    width: 30%;
    object-fit: cover;
}

.service p{
    width: 70%;
}