.services-section{
    width: 100%;
}

.service{
    width: 90%;
    display: flex;
    margin: auto;
}

.service img{
    width: 26%;
    object-fit: cover;
    margin: auto;
}


.service div{
    width: 60%;
}

.service p{
    font-size: 1em;
}