.services-section{
    width: 100%;
}

.service{
    width: 90%;
    display: flex;
    margin: auto;
}

.service img{
    width: 40%;
    object-fit: cover;
}

.service p{
    font-size: 1.3em;
    width: 60%;
}