.services-section{
    width: 100%;
}

.service{
    width: 90%;
    display: flex;
    margin: auto;
}

.service img{
    max-width: 40%;
    height: auto;
    margin: auto;
}


.service div{
    width: 60%;
}

.service p{
    font-size: 1.1em;
}