.services-section{
    width: 100%;
}

.service{
    min-width: 100px;
    max-width: 1500px;
    display: flex;
    margin: auto;
}

.service img{
    max-width: 35%;
    height: auto;
    margin: auto;
}


.service div{
    width: 60%;
}

.service p{
    font-size: 1.1em;
}