/* Floor category styling */
.floor-tab{
    margin: 3vh auto 3vh auto;
}

.tablink{
    margin: 0px 20px 0px 20px;
    font-size: 1.3em;
    border: none;
    background: none;
    cursor: pointer;
}

/* card view styling */
.card-view{
    display: grid;
}

.shop-card{

}